<main class="d-flex flex-column">
  <div class="p-2 bg-dark sticky-top" id="main-form">
    <nav class="navbar navbar-expand-md " data-bs-theme="dark">
      <div class="container-fluid" id="menu-area">
        <a class="navbar-brand ms-5" href="#">
          <img src="/assets/imgs/logo.png" alt="logo" width="115" height="115">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-area"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="menu-area">
          <ul class="navbar-nav me-2 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
            <!-- Workstation -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="Workstation">
                <i class="bi bi-person-workspace"></i>
                Workstation
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="Anotacoes" routerLinkActive="active-route" id="Anotações">
                    <i class="bi bi-journal-bookmark"></i>
                    Anotações
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="Pesquisas" routerLinkActive="active-route" id="Pesquisas">
                    <i class="bi bi-clipboard"></i>
                    Pesquisas
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="Projetos" routerLinkActive="active-route" id="Projetos">
                    <i class="bi bi-folder"></i>
                    Projetos
                  </a>
                </li>
              </ul>
            </li>
            <!-- Laboratory -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Laboratory
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Notes</a></li>
                <li><a class="dropdown-item" href="#">Projects</a></li>
                <li><a class="dropdown-item" href="#">Researches</a></li>
              </ul>
            </li>
            <!-- IO -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                IO
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Notes</a></li>
                <li><a class="dropdown-item" href="#">Projects</a></li>
                <li><a class="dropdown-item" href="#">Researches</a></li>
              </ul>
            </li>
            <!-- Calculator -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Calculator
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Notes</a></li>
                <li><a class="dropdown-item" href="#">Projects</a></li>
                <li><a class="dropdown-item" href="#">Researches</a></li>
              </ul>
            </li>
            <!-- logout -->
            <li class="nav-item ms-1">
              <button class="btn btn-danger" id="logout" (click)="logout()">
                <i class="bi bi-door-open"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <router-outlet class="mt-4"></router-outlet>

</main>