$background-image-path: "/assets/imgs/background2.jpeg";
$main-color: #FF6100;

main {
  background-image: url($background-image-path);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: 0;
  color: #e0ae5b;
  #menu-area a {
    color: #e28247;
    font-size: large;
  }
  #menu-area a:hover {
    background-color: rgba(255, 255, 255, 0.151);
  }
  .active-route{
    background-color: rgba(255, 255, 255, 0.151);
  }
}
