<app-spinner *ngIf="isLoading"></app-spinner>
<main class="d-flex justify-content-center">
    <div class="flex-row p-5 mt-4" id="main-form">

        <div class="alert alert-success flex-column" id="alert" *ngIf="successMsg != null" role="alert">
            <i class="bi bi-exclamation-circle text-dark"></i>
            {{successMsg}}
        </div>

        <div class="flex-column mb-2">
            <img src="/assets/imgs/logo.png" id="logo" alt="logo" width="130" height="130">
        </div>

        <div class="flex-column pt-4 ps-1">
            <h2 class="mt-5" *ngIf="!validToken">{{errorMsg}}</h2>
        </div>

        <div class="flex-column pt-5" *ngIf="!validToken">
            <a type="button" routerLink="/Login" id="backToLogin" class="btn btn-back mt-2 ps-4 pe-4">
                <i class="bi bi-door-open"></i>
                Retornar ao Login
            </a>
        </div>


        <form class="flex-column" (ngSubmit)="newPasswordUpdate()" #updatePasswordForm="ngForm" *ngIf="validToken">
            <h6 class="justify-content-center">Senha deve conter:
                <br>
                <ul>
                    <li>
                        Minimo de 8 caracteres
                        <i class="bi bi-check-circle" style="color: #00BF63;"
                            *ngIf="password.value && password.value.length >= 8"></i>
                        <i class="bi bi-x-circle" style="color: #ff0000;"
                            *ngIf="!password.value || password.value.length < 8"></i>
                    </li>
                    <li>
                        Caracteres especiais
                        <i class="bi bi-check-circle" style="color: #00BF63;"
                            *ngIf="specialCharRegex.test(password.value) == true"></i>
                        <i class="bi bi-x-circle" style="color: #ff0000;"
                            *ngIf="specialCharRegex.test(password.value) == false"></i>
                    </li>
                    <li>
                        Letras maiusculas
                        <i class="bi bi-check-circle" style="color: #00BF63;"
                            *ngIf="uppercaseRegex.test(password.value) == true"></i>
                        <i class="bi bi-x-circle" style="color: #ff0000;"
                            *ngIf="uppercaseRegex.test(password.value) == false"></i>
                    </li>
                    <li>
                        Números
                        <i class="bi bi-check-circle" style="color: #00BF63;"
                            *ngIf="numberscaseRegex.test(password.value) == true"></i>
                        <i class="bi bi-x-circle" style="color: #ff0000;"
                            *ngIf="numberscaseRegex.test(password.value) == false"></i>
                    </li>
                </ul>
            </h6>

            <div class="mb-3">
                <label for="password" class="form-label">
                    <i class="bi bi-lock"></i>
                    Nova senha
                </label>
                <input type="password" placeholder="**********" minlength="8" class="form-control" id="password"
                    name="password" #password="ngModel" ngModel required>
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">
                    <i class="bi bi-lock"></i>
                    Confirmar nova senha
                </label>
                <input type="password" placeholder="**********" class="form-control" id="confirm" name="confirm"
                    #confirm="ngModel" ngModel required>
                <span class="help-block"
                    *ngIf="password.value !== confirm.value && (password.dirty || password.touched)">
                    As senhas não coincidem*
                </span>
            </div>
            <button type="submit" [disabled]="password.value !== confirm.value || !updatePasswordForm.valid" id="updatePassword"
                class="btn btn-submit mb-3 ps-4 pe-4">
                <i class="bi bi-arrow-clockwise"></i>
                Resetar senha
            </button>
        </form>
    </div>
</main>