<app-spinner *ngIf="carregando"></app-spinner>
<main class="d-flex">
  <div class="flex-row p-5" id="main-form">

    <div class="alert alert-warning flex-column" id="alert-erro" *ngIf="mensagemDeErro != null" role="alert">
      <i class="bi bi-exclamation-circle text-dark"></i>
      {{mensagemDeErro}}
    </div>

    <div class="alert alert-info flex-column" id="alert-sucesso" *ngIf="mensagemDeSucesso != null" role="alert">
      <i class="bi bi-check-circle text-dark"></i>
      {{mensagemDeSucesso}}
    </div>
    <div class="flex-column mb-3 mt-4">
      <img src="/assets/imgs/logo.png" id="logo" alt="logo" width="180" height="180">
    </div>

    <h5>
      Ao clicar em enviar, você receberá um link para redefinir a senha
    </h5>

    <form class="flex-column mt-3" (ngSubmit)="recuperaSenha()" #formularioRecuperarSenha="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">
          <i class="bi bi-person-circle"></i>
          Email
        </label>
        <input type="email" class="form-control" autocomplete="email" placeholder="exemplo@email.com" id="email"
          aria-describedby="email" name="email" #email="ngModel" ngModel email required>

          <div id="fields-error" *ngIf="(email.invalid && (email.dirty || email.touched))" class="alert">
            <div class="d-flex justify-content-center text-center">
                <span class="help-block" id="inputErrorMsg">
                    Email inválido....
                </span>
            </div>
          </div>
        <button type="submit" [disabled]="!formularioRecuperarSenha.valid" id="recuperaEmailBtn" class="btn btn-submit mb-3 mt-3 ps-4 pe-4">
          <i class="bi bi-envelope"></i>
          Enviar
        </button>
      </div>
    </form>

  </div>
</main>