$background-image-path: "/assets/imgs/background2.jpeg";

main {
  background-image: url($background-image-path);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: 0;
  color: #e0ae5b;
  i{
    color: #d5c9af;
  }
  #main-form {
    background-color: #2B2B2B;
    width: 30%;
    height: 90%;
    #logo {
      margin-left: 30%;
    }
    .btn-submit {
      margin-left: 25%;
      background-color: #a2451f;
      color: #e0ae5b;
    }
    .btn-submit:hover{
        background-color: #7a3a20;
        color: #ff9d00;
    }
    h2{
      color: #A2451F;
    }
    .btn-back {
      margin-left: 19%;
      background-color: #a2451f;
      color: #e0ae5b;
    }
    .btn-back:hover{
        background-color: #7a3a20;
        color: #ff9d00;
    }
  }
}
