/* Import the font using @font-face */
@font-face {
  font-family: 'Neue-Machina';
  src: 
    url(assets/fonts/NeueMachina-Light.otf) format('otf'), 
    url(assets/fonts/NeueMachina-Regular.otf) format('otf'), 
    url(assets/fonts/NeueMachina-Ultrabold.otf) format('otf')
}

body{
  min-height: 100vh;
  font-family: "Neue-Machina";
}